# Household

## Modules

In [2]:
# Data Wrangling
import numpy as np
import pandas as pd

## Age-bracket distribution

In [37]:
age_population_data=pd.read_csv("/Users/Pit/GitHub/DigitalEpidemiologyProject/Data/CSV/2020/Population/AgeStratifiedProvincialPopulation.csv")
age_brackets=pd.DataFrame(["0_4","5_9","10_14","15_19","20_24","25_29","30_34","35_39","40_44","45_49","50_54","55_59","60_64","65_69","70_74","75_100"])
age_population_data["age_bracket"]=age_brackets

In [38]:
age_population_data["age_bracket"]=age_brackets

In [39]:
prov_age_population_data=pd.concat([age_brackets,age_population_data["1"]],axis=1).rename(columns={0:'age_bracket','1':'percent'})
prov_age_population_data["percent"]= prov_age_population_data["percent"] / sum(prov_age_population_data["percent"])
prov_age_population_data.to_csv("/Users/Pit/GitHub/DigitalEpidemiologyProject/Data/CSV/2020/Population/Household/AgeBracketDistribution_"+i+".csv", index=False)

In [51]:
for prov in range(1,108):
    prov_data=pd.concat([age_brackets,age_population_data[str(prov)]],axis=1).rename(columns={0:'age_bracket',str(prov):'percent'})
    prov_data["percent"]= prov_data["percent"] / sum(prov_data["percent"])
    prov_data.to_csv("/Users/Pit/GitHub/DigitalEpidemiologyProject/Data/CSV/2020/Population/Household/AgeBracketDistributions/"+str(prov)+".csv", index=False)

## Age distribution of the reference person for each household size

In [52]:
pd.read_csv("/Users/Pit/GitHub/DigitalEpidemiologyProject/Data/CSV/2020/Population/Household/FamilySize.csv")

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ITTER107,Territorio,Tipo dato,Tipologia della famiglia,Posizione nella famiglia,SEXISTAT1_A,Sesso,SEXISTAT1,Classe di et�,Classe di et� della persona di riferimento della famiglia,Stato civile della persona di riferimento della famiglia,NUMEROSITA,Numero di componenti,Condizione abitativa (in/non in coabitazione),Situazione abitativa della famiglia,Titolo di godimento,Anno di Censimento,Value
0,ITC12,Vercelli,popolazione residente in famiglia (valori asso...,famiglie,in famiglie unipersonali,2,femmine,9,fino a 24 anni,totale,totale,TOT,totale,in coabitazione,tutte le voci,tutte le voci,2011.0,11.0
1,ITC15,Novara,popolazione residente in famiglia (valori asso...,famiglie,in famiglie unipersonali,1,maschi,9,fino a 24 anni,totale,totale,TOT,totale,in coabitazione,tutte le voci,tutte le voci,2011.0,30.0
2,ITC15,Novara,popolazione residente in famiglia (valori asso...,famiglie,in famiglie unipersonali,9,totale,9,fino a 24 anni,totale,totale,TOT,totale,in coabitazione,tutte le voci,tutte le voci,2011.0,56.0
3,ITC17,Asti,popolazione residente in famiglia (valori asso...,famiglie,in famiglie unipersonali,2,femmine,9,fino a 24 anni,totale,totale,TOT,totale,in coabitazione,tutte le voci,tutte le voci,2011.0,18.0
4,ITC18,Alessandria,popolazione residente in famiglia (valori asso...,famiglie,in famiglie unipersonali,1,maschi,9,fino a 24 anni,totale,totale,TOT,totale,in coabitazione,tutte le voci,tutte le voci,2011.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309867,r,data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309868,s,estimate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309869,t,for,NaN,da,titolo,di,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309870,u,or,(see,dato,incerto,(vedasi,di,dataset),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309871,y,not,according,2011,non,ricostruito,alla,popolazione,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Household Size

In [160]:
household_sizes=pd.read_csv("/Users/Pit/GitHub/DigitalEpidemiologyProject/Data/CSV/2020/Population/HouseholdSizes.csv")
household_sizes_2019=household_sizes[household_sizes.TIME ==2019]
household_sizes_2019=household_sizes_2019.drop(columns=["TIME","Flag Codes", "Flags", "Select time", "NUMEROSITA", "MISURA_AVQ"])
household_sizes_2019=household_sizes_2019[household_sizes_2019["Measure"] =="thousands value"]
household_sizes_2019["Value"]=[int(size) for size in household_sizes_2019["Value"]]
household_sizes_2019=household_sizes_2019.sort_values(by=["Number of household members"])

In [161]:
household_sizes_2019

,TIPO_DATO_AVQ,Data type,Measure,Number of household members,Value
54,HOUSEHOLD,household - biennal average,thousands value,1,8562
34,HOUSEHOLD,household - biennal average,thousands value,2,6967
9,HOUSEHOLD,household - biennal average,thousands value,3,4954
39,HOUSEHOLD,household - biennal average,thousands value,4,3872
19,HOUSEHOLD,household - biennal average,thousands value,5,1023
59,HOUSEHOLD,household - biennal average,thousands value,6 and over,337
24,HOUSEHOLD,household - biennal average,thousands value,total,25715

## National-Level Household Types

In [162]:
household_types_national=pd.read_csv("/Users/Pit/GitHub/DigitalEpidemiologyProject/Data/CSV/2020/Population/HouseholdTypes.csv")
household_types_national_2019=household_types_national[household_types_national.TIME ==2019]
household_types_national_2019=household_types_national_2019.drop(columns=["TIPO_DATO_AVQ","TIME","Flag Codes", "Flags", "Select time", "MISURA_AVQ"])
household_types_national_2019=household_types_national_2019[household_types_national_2019["Measure"] =="thousands value"]
household_types_national_2019["Value"]=[int(t) for t in household_types_national_2019["Value"]]
household_types_national_2019=household_types_national_2019.sort_values(by=["Value"])

In [163]:
household_types_national_2019

                                      Data type          Measure  Value
9                      one parent with children  thousands value    220
54                     couples without children  thousands value    261
128                       couples with children  thousands value    382
64          households with two or more nucleus  thousands value    396
14                 a nucleus with other persons  thousands value    863
138  reconstituted households - biennal average  thousands value   1297
84          unmarried couples - biennal average  thousands value   1371
103                    one parent with children  thousands value   2397
4                      couples without children  thousands value   4791
39                        couples with children  thousands value   8114
133                              single persons  thousands value   8562
74                 households without a nucleus  thousands value   9154
108             a nucleus without other persons  thousands value  15303
29                    households with a nucleus  thousands value  16165

## Regional-Level Household Types

In [170]:
regions=np.array(pd.read_csv("/Users/Pit/GitHub/DigitalEpidemiologyProject/Data/CSV/2020/Population/RegionalDemographics.csv").Regioni)
useless=["Italy", "Nord-est", "Nord-ovest", "Nord", "Centro (I)", "Sud", "until 2,000 inhab.", "10,001 - 50,000 inhab.", "metropolitan area - centre", "50,001 inhab. and over", "2,001 - 10,000 inhab.", "metropolitan area - suburbs", "50,001 inhab. and over", "Isole"]

In [ ]:
conditions=("Italy" or "Nord-est" or "Nord-ovest" or "Nord" or "Centro (I)"or "Sud"or "until 2,000 inhab."or "10,001 - 50,000 inhab."or "metropolitan area - centre" or "50,001 inhab. and over"or "2,001 - 10,000 inhab."or "metropolitan area - suburbs"or "50,001 inhab. and over"or "Isole")

In [194]:
household_types_regional=pd.read_csv("/Users/Pit/GitHub/DigitalEpidemiologyProject/Data/CSV/2020/Population/HouseholdTypesRegional.csv")
household_types_regional_2019=household_types_regional[household_types_regional.TIME ==2019]
household_types_regional_2019=household_types_regional_2019.drop(columns=["ITTER107","TIPO_DATO_AVQ","TIME","Flag Codes", "Flags", "Select time", "MISURA_AVQ"])
household_types_regional_2019=household_types_regional_2019[household_types_regional_2019["Measure"] =="thousands value"]
household_types_regional_2019["Value"]=[int(t) for t in household_types_regional_2019["Value"]]
household_types_regional_2019=household_types_regional_2019[household_types_regional_2019["Data type"]!=("female" or "male")]
household_types_regional_2019=household_types_regional_2019.sort_values(by=["Data type", "Territory"])

In [195]:
household_types_regional_2019

,Territory,Data type,Measure,Value
815,"10,001 - 50,000 inhab.",couples with children,thousands value,2368
1311,"2,001 - 10,000 inhab.",couples with children,thousands value,2053
611,"50,001 inhab. and over",couples with children,thousands value,1424
1329,Abruzzo,couples with children,thousands value,191
901,Basilicata,couples with children,thousands value,87
...,...,...,...,...
761,Valle d'Aosta / Vallée d'Aoste,unmarried children aged 18-30 years,thousands value,9
583,Veneto,unmarried children aged 18-30 years,thousands value,464
673,metropolitan area - centre,unmarried children aged 18-30 years,thousands value,848
547,metropolitan area - suburbs,unmarried children aged 18-30 years,thousands value,875
47,"until 2,000 inhab.",unmarried children aged 18-30 years,thousands value,293